


<mat-sidenav-container autosize  > <!--appScrollProgress-->

  <mat-sidenav [opened]="!isMobile"  mode="side">

    <mat-nav-list>
      <div class="m-3 text-center" [routerLink]="['/home']">
        <img src="assets/images/logo.svg" height="70px" width="70px">
      </div>
    </mat-nav-list>

    <mat-nav-list *ngFor="let item of sidebar">
      <!-- <a  class="d-flex align-items-center justify-content-between" style=" overflow-x: hidden;" *ngIf="!item.path" mat-list-item>
        <span class="entry">
            <img [src]="item.icon">
            <span>{{item?.name}}</span>
            <span class="text-danger  mx-3">osama</span>
        </span>
       </a> -->
      <a *ngIf="item.path" mat-list-item [routerLink]="[item.path]" [routerLinkActive]="'active'"  [routerLinkActiveOptions]=item.active>
        <span class="entry d-flex align-items-center">
          <img [src]="item?.icon" class="mx-2">
          <span>{{item?.name}}</span>
        </span>
      </a>

    </mat-nav-list>






  </mat-sidenav>

  <mat-sidenav-content [ngClass]="isMobile ? ' ' : 'mobile'" class="p-5">

    <mat-toolbar class="justify-content-between px-5">

      <div class="d-flex mt-2">

        <button mat-icon-button aria-label="Menu icon" (click)="isMobile=!isMobile">
          <mat-icon>menu</mat-icon>
        </button>


      </div>

      <div>

        <button  class=" custom" [routerLink]="['./Profile']"  >
              <img src='assets/images/profile.svg' height="48px" width="48px" style="border-radius: 50%;">
              <span class="caret ms-2"> Admin </span>
           </button>
      </div>
   </mat-toolbar>

    <section class="mt-5 p-2">


       <router-outlet></router-outlet>


    </section>

  </mat-sidenav-content>

</mat-sidenav-container>





