html,
body {
  height: 100vh;
}
///////////////scoll bar/////////////
* {
  transition: 0.3s;
  &::-webkit-scrollbar {
    width: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 30px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }
}

// sidebar///////
.active {
  background-color: #E21B33 !important;
  transition: background-color 0.5s ease-in-out;
  border-radius: 6px;
 span{
  color: #fafafa !important;
 }

  img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(26%) saturate(0%) hue-rotate(357deg) brightness(109%)
      contrast(100%);
    animation: rotate 1.5s linear;
  }
}
mat-toolbar {
  min-height: 90px;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 2;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 3px 10px #cecece33;
  button {
    background: none;
    border: none;
  }
  .person {
    &:focus {
      border: none;
    }
  }
  p {
    @media (max-width: 425px) {
      display: none !important;
    }
  }

  .mat-icon-button i,
  .mat-icon-button .mat-icon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(5040%) hue-rotate(347deg) brightness(115%)
      contrast(86%);
  }
}

mat-sidenav-container {
  height: 100%;
  background-color: #fff;

  mat-sidenav-content {
    background-color: #fafafa;
    padding-top: 3.5rem;

    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }
  }
  .mdc-list {
    margin: 0;
    padding: 8px 10px;
    list-style-type: none;
    width: 250px;
  }
  mat-sidenav {
    // position: relative;

    background-color: #e9eaef;
    position: fixed;

    @media (max-width: 425px) {
      width: 100%;
      position: relative;
    }

    mat-nav-list {
      .mat-list-item {
        height: 55px;
        width: 95%;
        margin: auto;
        border-radius: 5px;
        background-color: transparent;
        color: #000;
        overflow-x: hidden;

        &:hover {
          background-color: #cbc6c63d;
          transition: background-color 0.5s ease-in-out;
          color: #000;
        }

        &.active {
          background-color: #e21b33 !important;
          transition: background-color 0.5s ease-in-out;
          color: #fafafa !important;

          img {
            filter: brightness(0) saturate(100%) invert(99%) sepia(26%) saturate(0%) hue-rotate(357deg) brightness(109%)
              contrast(100%);
            animation: rotate 1.5s linear;
          }
        }

        .entry {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.75rem;
        }

        .logout {
          p,
          h3,
          button {
            font-weight: 500;
          }

          button {
            font-size: 14px;
          }

          img {
            filter: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(2764%) hue-rotate(334deg)
              brightness(90%) contrast(91%);
          }
        }
      }
    }
  }
}
.mobile {
  mat-toolbar {
    width: calc(100% - 250px);
  }

  margin-left: 250px !important;
  margin-right: 0px !important;

  @media (max-width: 425px) {
    width: 90%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wobble {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
